opentelemetry-api==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-instrumentation-flask==0.44b0
opentelemetry-exporter-jaeger==1.23.0
opentelemetry-instrumentation-requests==0.44b0
flask==3.0.2
requests==2.31.0
